{{extend 'layout.html'}}
{{totalPrice=0}}
<div class="row">
  <div class="col-md-7">
      <h4>
        <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Your Shopping Cart
      </h4>
  </div>
  <div class="col-md-2" text-center>
      <a class="btn btn-primary" href="{{=URL('default','placeorder')}}" role="button"> 
      BUY NOW 
      <span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
      </a>
  </div>
  <div class="col-md-3" text-center>
      <h4>Total Amount  :  <span class="label label-default" id="totalAmountLabel">{{=totalPrice}}</span></h4>
  </div>
</div>
<hr/>
<table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Item</th>
        <th>QTY</th>
        <th>SubTotal</th>
      </tr>
    </thead>
    <tbody>
      {{count=0}}
      {{for i in product_list:}}
      <tr>
        <td>{{=count}}</td>
        <td>
            <div class="thumbnail" style="width:200px">
               <img width="175px" src="{{=URL('download', args=i['p_image'])}}" />
               <div class="caption">
                       <h4>{{=i['p_name']}}</h4>
                       <h5>Price : {{=i['p_price']}} </h5>
               </div>
            </div>
        </td>
        <td>1</td>
        <td><h5>Price : {{=i['p_price']}} </h5></td>
      </tr>
      {{count=count+1}}
      {{totalPrice=totalPrice+i['p_price']}}
      {{session.totalPrice=totalPrice}}
      {{pass}}
    </tbody>
</table>
<script>
$(window).load(function(){
    console.log("hi");
    document.getElementById("totalAmountLabel").innerHTML={{=totalPrice}};
});
</script>
